// SassySass ------------------------------------------------------------

// ----------------------------------------------------------------------
  // Utils
// ----------------------------------------------------------------------
@import "utils/mixins";
@import "utils/extends";

// ----------------------------------------------------------------------
  // Base
// ----------------------------------------------------------------------
@import "base/variables";
@import "base/reset";

// ----------------------------------------------------------------------
  // Layout
// ----------------------------------------------------------------------
@import "layout/grid";

// ----------------------------------------------------------------------
  // Modules
// ----------------------------------------------------------------------

// ----------------------------------------------------------------------
  // Themes
// ----------------------------------------------------------------------


.page-header {
    padding-bottom: 9px !important;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
