// SassySass ------------------------------------------------------------

// ----------------------------------------------------------------------
  // Utils
// ----------------------------------------------------------------------
@import "utils/mixins";
@import "utils/extends";

// ----------------------------------------------------------------------
  // Base
// ----------------------------------------------------------------------
@import "base/variables";
@import "base/reset";

// ----------------------------------------------------------------------
  // Layout
// ----------------------------------------------------------------------
@import "layout/grid";

// ----------------------------------------------------------------------
  // Modules
// ----------------------------------------------------------------------

// ----------------------------------------------------------------------
  // Themes
// ----------------------------------------------------------------------



.parent {
  display: flex;
  height: 300px; /* Or whatever */
}

.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}



.gfdhgfdfhgd {
  display: flex;
  height: 300px; /* Or whatever */
}
.fghdfghdld {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}



.parkkent {
  display: flex;
  height: 300px; /* Or whatever */
}

.chikkld {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  margin: auto;  /* Magic! */
}
